[submodule "home/.vim/bundle/nerdtree"]
  path = home/.vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git

[submodule "home/.vim/bundle/vim-colors-solarized"]
  path = home/.vim/bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git

[submodule "home/.vim/bundle/vim-css3-syntax"]
  path = home/.vim/bundle/vim-css3-syntax
  url = https://github.com/hail2u/vim-css3-syntax.git

[submodule "home/.vim/bundle/vim-git"]
  path = home/.vim/bundle/vim-git
  url = https://github.com/tpope/vim-git.git

[submodule "home/.vim/bundle/vim-markdown"]
  path = home/.vim/bundle/vim-markdown
  url = https://github.com/tpope/vim-markdown.git

[submodule "home/.vim/bundle/vim-rails"]
  path = home/.vim/bundle/vim-rails
  url = https://github.com/tpope/vim-rails.git

[submodule "home/.vim/bundle/vim-coffee-script"]
  path = home/.vim/bundle/vim-coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git

[submodule "home/.vim/bundle/vim-slurper"]
  path = home/.vim/bundle/vim-slurper
  url = https://github.com/adamlowe/vim-slurper.git

[submodule "home/.vim/bundle/vim-powerline"]
  path = home/.vim/bundle/vim-powerline
  url = https://github.com/Lokaltog/vim-powerline.git

[submodule "home/.vim/bundle/vim-zencoding"]
  path = home/.vim/bundle/vim-zencoding
  url = https://github.com/mattn/zencoding-vim.git

[submodule "home/.vim/bundle/vim-ruby"]
  path = home/.vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git

[submodule "home/.vim/bundle/nerdcommenter"]
  path = home/.vim/bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git

[submodule "home/.vim/bundle/syntastic"]
  path = home/.vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
