[core]
  whitespace = trailing-space,space-before-tab
  excludesfile = /Users/cknadler/.global_gitignore
  editor = vim

[user]
  name = Chris Knadler
  email = takeshi91k@gmail.com

[push]
  default = upstream

[alias]
  # add
  a = add
  au = add -u
  ap = add --patch

  # branch
  b = branch

  # checkout
  co = checkout
  cb = checkout -b

  # commit
  c = commit
  ca = commit --amend

  # diff
  df = diff
  dc = diff --cached

  ###
  # log
  ###
  l = log --decorate --stat
  sl = log --pretty=format:'%Cred%h%Creset %s %Cgreen%d%Creset' # short log
  cl = log -u # change log

  ###
  # ribbon
  ###
  ribbon = tag --force _ribbon origin/master
  catchup = log --patch --reverse --topo-order _ribbon..origin/master

  # rebase
  rc = rebase --continue
  rs = rebase --skip

  # remote
  r = remote -v

  # status
  s = status -sb
  st = status

  # reset
  us = reset HEAD
  uc = reset --soft HEAD^

  # push
  pom = push origin master
  ps = push

  # pull
  pl = pull

[color]
  ui = true

[log]
  decorate = short

[credential]
  helper = osxkeychain

[github]
  user = cknadler
