[core]
  whitespace = trailing-space,space-before-tab
  excludesfile = /Users/cknadler/.global_gitignore
  editor = mvim -v

[user]
  name = Chris Knadler
  email = takeshi91k@gmail.com

[push]
  default = upstream

[alias]
  # add
  a = add
  au = add -u
  ap = add --patch

  # commit
  c = commit
  ca = commit --amend

  # diff
  d = diff
  dc = diff --cached

  # log
  l = log --decorate --stat
  sl = log --pretty=format:'%Cred%h%Creset %s %Cgreen%d%Creset'
  cl = log -u

  # rebase
  rc = rebase --continue
  rs = rebase --skip

  # remote
  r = remote -v

  # status
  s = status -sb
  st = status

  # reset
  us = reset HEAD
  uc = reset --soft HEAD^

[color]
  ui = true

[log]
  decorate = short

[credential]
  helper = osxkeychain

[github]
  user = cknadler
